.LandingParent {
    background-color: #ffe6cc;
    height: auto;
    flex-direction: row;
    display: flex;
}

.LandingPage {
    text-align: center;
}

.customNav {
    flex-direction: row;
}

.LandingPage img {
    width: 400px;
    height: auto;
}

.Greeting {
    display: flex;
    padding: 1rem
}